# Build and debug folders
bin/
obj/

# Build output
*.dll
*.exe
*.pdb

# User-specific files
*.user
*.suo

# VS Code settings
.vscode/

# Temporary files
*.cache
*.log
*.tmp

# Razor related
*.dswa.cache.json
*.sourcelink.json

# Publish and deployment
*.Publish.xml

# Other
apphost.exe
